
  <% include ../layout/header.ejs %>

 



<div class=" main-container">

    <div class="col-sm-2 side-bar ">
    
    <h1 class="text-center">
    <a  href="/">
      <img id="logo"
      class="img-responsive"
        src="/assets/images/logo/logo.png"
        alt="Still waters Logo"
      />
    </a>
    
  </h1>
   
  <p class="text-center">Welcome Admin</p>
  <hr/>

  <div class="list-group">
  <a href="/dashboard" class="list-group-item <% if (data.active === 'dashboard'){%> active<%}%> "><i class="glyphicon glyphicon-dashboard"></i> 

   Dashboard </a>
  <a href="/information" class="list-group-item <% if (data.active === 'information'){%> active<%}%>"> <i class="	glyphicon glyphicon-info-sign"></i> Manage Information</a>
  <a href="/user" class="list-group-item <% if (data.active === 'user'){%> active<%}%>"> <i class="	glyphicon glyphicon-user"></i> Manage user</a>
</div>
    </div>
    <div class="col-sm-10 main-content">
        <div class="well">
            <h3>Dashboard </h3>
        </div>
       
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>