<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <% include ../layout/header.ejs %>

  <body>
    <div class=" main-container">
          <div class="col-sm-2 side-bar ">
            <h1 class="text-center">
              <a href="/">
                <img
                  id="logo"
                  src="/assets/images/logo/logo.png"
                  alt="Still waters Logo"
                />
              </a>
            </h1>

            <p class="text-center">Welcome Admin</p>
            <hr />

            <div class="list-group">
              <a
                href="/dashboard"
                class="list-group-item <% if (data.active === 'dashboard'){%> active<%}%> "
                ><i class="glyphicon glyphicon-dashboard"></i>

                Dashboard
              </a>
              <a
                href="/information"
                class="list-group-item <% if (data.active === 'information'){%> active<%}%>"
              >
                <i class="	glyphicon glyphicon-info-sign"></i> Manage Information</a
              >
              <a
                href="/user"
                class="list-group-item <% if (data.active === 'user'){%> active<%}%>"
              >
                <i class="	glyphicon glyphicon-user"></i> Manage user</a
              >
            </div>
          </div>
          <div class="col-sm-10 main-content">
            <div class="well">
              <h3>Information Management</h3>
            </div>
            <div>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" href="#categories">Categories</a>
                </li>
                <li><a data-toggle="tab" href="#types">Types</a></li>
                <li><a data-toggle="tab" href="#information">New Content</a></li>
                <li><a data-toggle="tab" href="#fileUpload">Content List</a></li>
              </ul>

              <div class="tab-content">
                <div id="categories" class="tab-pane fade in active">
                  <div class="panel panel-info">
                    <div class="panel-heading text-center">
                      <h3>Manage Categories</h3>
                    </div>
                    <div class="panel-body">
                      <table id="usersTable" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>s/n</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>

                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody id="categoryTableBody">
                         
                        </tbody>
                      </table>
                      <!-- Category table template -->
                      <script id="categoryTableTemplate" type="text/template">
                        {{#categories}}
                          <tr>
                                <td>{{index}}</td>
                                <td>{{name}}</td>
                                <td>{{description}}</td>
                                <td>{{#active}}1{{/active}}
                                  {{^active}}0{{/active}}</td>
  
                                <td>
  
                                  <button  class="btn btn-danger btnSuspend">Remove</button>
  
  
                                  <button  class="btn btn-primary  btnActivate">View types</button>
  
  
  
                                </td>
                          </tr>
                        {{/categories}}
                        </script>
                      <h2>Add new category</h2>
                      <hr />
                      <!-- //add new category -->

                      <div>
                        <form id="newCategoryForm">
                          <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="catName" />
                          </div>

                          <div class="form-group">
                            <label for="comment">Description:</label>
                            <textarea
                              class="form-control"
                              rows="5"
                              id="catDescription"
                            ></textarea>
                          </div>

                          <button class="btn btn-primary btnActivate">
                            Add Category
                          </button>
                        </form>
                      </div>
                   

                    
                    </div>
                  </div>
                </div>
                <!-- types begin -->
                <div id="types" class="tab-pane fade">
                  <div class="panel panel-info">
                    <div class="panel-heading text-center"><h3>Manage Types</h3></div>
                    <div class="panel-body">
                      <div class="form-group ">
                        <label for="exampleInputFile">Select Category</label>
                        <select
                          name="role"
                          id="ddlCategory"
                          class="form-control text-capitalize"
                        >
                       
                        </select>
                        <script id="ddlCategoryTemplate" type="text/template" >
                          <option value="-1">Select a Category</option>
                          {{#categories}}
                          <option value={{_id}}>{{name}}</option>
                          {{/categories}}
                        
                        </script>
                      </div>
                      <hr />
                      <table id="typesTable" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>s/n</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody id="typesTableBody">
                        
                        </tbody>
                      </table>
                     
                      <!-- //type table template  -->
                      <script id="typesTableTemplete" type="text/template">
                        {{#catTypes}}
                        <tr>
                          <td>{{index}}</td>
                          <td>{{name}}</td>
                          <td>{{description}}</td>
                          <td>{{#active}}1{{/active}}
                            {{^active}}0{{/active}}</td>

                          

                              <td>

                                <button  class="btn btn-danger btnSuspend">Remove</button>


                                <button  class="btn btn-primary  btnActivate">Edit</button>



                              </td>
                            </tr>
                            {{/catTypes}}
                           
                      </script>

                      <h2>Add new Category Type</h2>
                      <hr />
                      <!-- //add new category type -->

                      <div>
                        <form id="newTypeForm">
                          <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="typeName" />
                          </div>

                          <div class="form-group">
                            <label for="comment">Description:</label>
                            <textarea
                              class="form-control"
                              rows="5"
                              id="typeDescription"
                            ></textarea>
                          </div>

                          <button class="btn btn-primary btnActivate">
                            Add Category Type
                          </button>
                        </form>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <!-- types end -->
                <!-- informaton begin -->
                <div id="information" class="tab-pane fade">
                  <div class="panel panel-info">
                    <div class="panel-heading text-center">
                      <h3>Manage Information</h3>
                    </div>
                    <div class="panel-body">
                    <form id="newContentForm">
                      <div class="form-group ">
                        <label for="exampleInputFile">Select Category</label>
                        <select
                        name="role"
                        id="ddlCategoryInContent"
                        class="form-control text-capitalize"
                      >
                     
                      </select>
                      </div>
                      <div class="form-group ">
                        <label for="exampleInputFile">Select Type</label>
                        <select
                          name="role"
                          id="ddlTypes"
                          class="form-control text-capitalize"
                        >
                        
                        </select>
                        <script id="typesDdlTemplate" type="text/template">
                          <option value="-1">Select</option>
                          {{#catTypes}}
                          <option value={{_id}}>{{name}}</option>
                            {{/catTypes}}
                        </script>
                      </div>
                      <div>
                        
                          <div class="form-group">
                            <label for="usr">Title:</label>
                            <input type="text" class="form-control" id="title" />
                          </div>
                          <div class="form-group">
                            <label for="comment">Upload:</label>
                            <input type="file" class="form-control" id="file" />
                          </div>
                          <div class="form-group">
                            <label for="comment">Information:</label>
                            <textarea
                              name="editor1"
                              class="form-control"
                              rows="5"
                              id="content"
                            ></textarea>
                          </div>

                          <button type="submit" class="btn btn-primary btnActivate">
                            Save Information
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /information end -->

                <!-- file and upload begin -->
                <div id="fileUpload" class="tab-pane fade">
                  <div class="panel panel-info">
                    <div class="panel-heading text-center">
                      <h3>Content List</h3>
                    </div>
                    <div class="panel-body">
                        <table id="contentTable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>s/n</th>
                                <th>Title</th>
                                <th>Category</th>
    
                                <th>Type</th>
                                <th>Image</th>
                                <th>Content</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody id="contentTableBody">
                            
                            </tbody>
                          </table>
                   
                       <script id="contentTableTemplate" type="text/template">
                       {{#contents}}
                        <tr data-id={{_id}} >
                          <td>{{index}}</td>
                          <td>{{title}}</td>
                          <td>{{categoryId.name}}</td>
                          <td>{{typeId.name}}</td>
                          <td> 
                            {{#imageUrl}}
                            <img src={{imageUrl}} width="70", height="70" alt={{title}}>
                            {{/imageUrl}}
                            {{^imageUrl}}
                            <span>No Image</span>
                            {{/imageUrl}}
                          </td>
                          <td>{{{decodeContent}}}</td>
                          

                          <td>
                            <button class="btnRemoveContent btn btn-danger ">
                              Remove
                            </button>
                             
                            <button class="btn btn-primary  btnEditContent">
                              Edit
                            </button>
                          </td>
                        </tr>
                      {{/contents}}
                      </script>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- file and upload ends -->
              </div>
            </div>
          </div>
        </div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
        <script type="text/javascript">
          CKEDITOR.replace("editor1", {
            toolbar: [
              { name: "basicstyles", items: ["Bold", "Italic"] },
              { name: "paragraph", items: ["NumberedList", "BulletedList"] },
              { name: "links", items: ["Link", "Unlink", "Anchor"] },
              {
                name: "insert",
                items: [
                  "Table",
                  "HorizontalRule",
                  "Smiley",
                  "SpecialChar",
                  "PageBreak",
                  "Iframe"
                ]
              },
              "/",
              { name: "tools", items: ["Maximize", "-", "About"] }
            ]
          });
        </script>
        <script src="/assets/js/scripts/content.js"></script>
</body>
</html>