<% include ../layout/header.ejs %>

<div class=" main-container">
  <div class="col-sm-2 side-bar ">
    <h1 class="text-center">
      <a href="/">
        <img
          id="logo"
          src="/assets/images/logo/logo.png"
          alt="Still waters Logo"
        />
      </a>
    </h1>

    <p class="text-center">Welcome Admin</p>
    <hr />

    <div class="list-group">
      <a
        href="/dashboard"
        class="list-group-item <% if (data.active === 'dashboard'){%> active<%}%> "
        ><i class="glyphicon glyphicon-dashboard"></i>

        Dashboard
      </a>
      <a
        href="/information"
        class="list-group-item <% if (data.active === 'information'){%> active<%}%>"
      >
        <i class="	glyphicon glyphicon-info-sign"></i> Manage Information</a
      >
      <a
        href="/user"
        class="list-group-item <% if (data.active === 'user'){%> active<%}%>"
      >
        <i class="	glyphicon glyphicon-user"></i> Manage user</a
      >
    </div>
  </div>
  <div class="col-sm-10 main-content">
    <div class="well">
      <h3>User Management</h3>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#list"> List</a></li>
        <li><a data-toggle="tab" href="#register">Register</a></li>
        <li><a data-toggle="tab" href="#edit">Edit User Profile</a></li>
      </ul>

      <div class="tab-content">
        <div id="list" class="tab-pane fade in active">
          <div class="panel panel-info">
            <div class="panel-heading text-center"><h3>User List</h3></div>
            <div class="panel-body">
              <table id="usersTable" class="table table-bordered">
                <thead>
                  <tr>
                    <th>s/n</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="userTableBody"></tbody>
              </table>
              <script id="userTableTemplete" type="text/template">
                {{#users}}
                <tr data-id={{userId._id}}>
                      <td>{{index}} </td>
                      <td>{{fullName}}</td>
                      <td>{{roleId.name}}</td>
                      <td>{{userId.email}}</td>
                      <td>{{#userId.active}}1{{/userId.active}}
                        {{^userId.active}}0{{/userId.active}}
                      </td>
                      <td>
                        {{#userId.active}}
                        <button  class="btn btn-warning btnSuspend">Suspend</button>
                        {{/userId.active}}
                        {{^userId.active}}
                        <button  class="btn btn-success  btnActivate">Activate</button>
                        {{/userId.active}}


                      </td>
                    </tr>
                    {{/users}}
              </script>

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="register" class="tab-pane fade">
          <div class="panel panel-info">
            <div class="panel-heading text-center">
              <h3>Register</h3>
            </div>
            <div class="panel-body">
              <form id="regForm" class="col-sm-6" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Email address <span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="txtEmail"
                    name="email"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Confirm Email address
                    <span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="txtConfirmEmail"
                    name="confirmEmail"
                    placeholder="Enter Email Again"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Firstname <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="txtFname"
                    name="fname"
                    placeholder="Enter Firstname"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Lastname <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="txtLname"
                    name="lname"
                    placeholder="Enter Lastname"
                  />
                </div>
                <div class="form-group ">
                  <label for="exampleInputFile">Select Role</label>
                  <select
                    name="role"
                    id="ddlRole"
                    class="form-control text-capitalize"
                  >
                  </select>
                </div>
                <script id="roleTemplate" type="text/template">
                  <option value="-1">Select</option>
                  {{#roles}}
                  <option value={{_id}}>{{name}}</option>
                  {{/roles}}
                </script>
                <div id="divGenders" class="form-group text-capitalize"></div>
                <script id="genderTemplate" type="text/template">
                   {{#genders}}
                   <label class="radio-inline">
                     <input type="radio" class="gender" name="gender"  value={{_id}}>{{name}}
                   </label>
                  {{/genders}}
                </script>
                <div class="form-group">
                  <label for="exampleInputFile">Upload Profile Picture</label>
                  <input
                    type="file"
                    id="profilePicture"
                    name="file"
                    id="exampleInputFile"
                  />
                </div>
                <div id="messageGlobal" class="alert hidden" role="alert">
                  Error loading file Name
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-lg col-xs-12">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>

        <div id="edit" class="tab-pane fade">
          <h3>Create Information</h3>
          <p>Some content in menu 2.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/assets/js/scripts/register.js"></script>
