<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <% var data = {page: "about"}%> <% include layout/header.ejs %>

  <body>
    <div class="inner-banner">
      <% include layout/home_navigation.ejs %>
    </div>

    <!-- //banner -->
    <section class="banner_bottom py-md-5">
      <div class="container py-4 mt-2">
        <h3 class="heading-agileinfo">About <span>Us</span></h3>
        <div class="inner_sec_info_wthree_agile mt-md-5 pt-3">
          <div id="aboutContainer" class="row help_full"></div>
          <script id="aboutTemplate" type="text/template">
            {{#about}}
              <div class="col-lg-6 banner_bottom_grid help">
                  <img
                    src={{imageUrl}}
                    alt={{title}}
                    class="img-fluid"
                  />
                </div>
                <div class="col-lg-6 banner_bottom_left">
                  <h4>{{title}}</h4>
                  {{{decodeContent}}}
                </div>
            {{/about}}
            {{^about}}
            <div class="col-lg-6 banner_bottom_grid help">
                <img
                  src="/assets/images/estate_environment.jpg"
                  alt=" "
                  class="img-fluid"
                />
              </div>
              <div class="col-lg-6 banner_bottom_left">
                <h4>Still Waters Garden Estate</h4>
                <p>
                  Pellentesque convallis diam consequat magna vulputate malesuada.
                  Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                  neque pharetra ac.
                </p>
                <p>
                  Lorem Ipsum convallis diam consequat magna vulputate malesuada.
                  Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                  neque pharetra ac.Nullal condimentum interdum vel eget enim.
                  Curabitur mattis orci sed le. Nullal condimentum interdum vel
                  eget enim. Curabitur mattis orci sed le.
                </p>
              </div>
            {{/about}}
          </script>
        </div>
      </div>
    </section>
    <!--//ab-->
    <!---728x90--->

    <!-- //team -->

    <% include layout/footer.ejs %>
    <script src="/assets/js/scripts/about.js"></script>
  </body>
</html>
