<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <% var data = {page: "buying_renting"}%> <% include layout/header.ejs %>

  <body>
    <div class="inner-banner">
      <% include layout/home_navigation.ejs %>
    </div>

    <!-- /services -->
    <section class="what_you w3-about py-5">
      <div class="container py-md-4 mt-md-3">
        <h3 class="heading-agileinfo">Buying & <span>Renting</span></h3>
        <span class="w3-line black"></span>
        <div
          id="stepsFirstContainer"
          class="row about-info-grids mt-md-5 pt-5"
        ></div>
        <div class="bord"></div>
        <!-- steps containner begin -->
        <div id="stepsSecondContainer" class="row about-info-grids"></div>
        <!-- steps containner ends -->
      </div>
      <script id="stepsSecontTemplate" type="text/template">
        {{#steps}}
        <div class="col-md-4 about-info about-info1">
           <i class="fa fa-asterisk"></i>
           <h4>{{title}}</h4>
           <div class="h4-underline"></div>
            {{{decodeContent}}}
         </div>
        {{/steps}}
      </script>
      <script id="stepsTemplate" type="text/template">
        {{#steps}}
          <div class="col-md-4 about-info about-info1">
             <i class="fa fa-asterisk"></i>
             <h4>{{title}}</h4>
             <div class="h4-underline"></div>
              {{{decodeContent}}}
           </div>
          {{/steps}}

          {{^steps}}
          <div class="col-md-4 about-info about-info1">
              <i class="fa fa-asterisk"></i>
              <h4>Step 1</h4>
              <div class="h4-underline"></div>
              <p>
                The various steps required to rent of buy a house in the estate
                will be placed here
              </p>
            </div>
            <div class="col-md-4 about-info about-info2">
              <i class="fa fa-asterisk"></i>
              <h4>Step 2</h4>
              <div class="h4-underline"></div>
              <p>
                The various steps required to rent of buy a house in the estate
                will be placed here
              </p>
            </div>
            <div class="col-md-4 about-info about-info3">
              <i class="fa fa-asterisk"></i>
              <h4>Step 3</h4>
              <div class="h4-underline"></div>
              <p>
                The various steps required to rent of buy a house in the estate
                will be placed here
              </p>
            </div>
          {{/steps}}
      </script>
    </section>

    <!-- //services -->
    <!---728x90--->

    <!-- news -->
    <section class="wthree-row1 w3-about py-5">
      <div class="container py-md-4 mt-md-3">
        <h3 class="heading-agileinfo">Other <span>Facilities</span></h3>
        <span class="w3-line black"></span>
        <div id="otherFacilityContainer" class="card-deck mt-md-5 pt-5"></div>
      </div>
      <script id="otherFacilityTemplate" type="text/template">
        {{#others}}
        <div class="card">
            <img
              src={{imageUrl}}
              class="img-fluid"
              alt="Card image cap"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text mb-3 ">
                {{{decodeContent}}}
              </p>
            </div>
          </div>
        {{/others}}
        {{^others}}
        <div class="card">
            <img
              src="/assets/images/kiddies.jpg"
              class="img-fluid"
              alt="Card image cap"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Kiddies Garden</h5>
              <p class="card-text mb-3 ">
                Their is lot of space for kids to have fun in the estate.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/images/footballfield.jpg"
              class="img-fluid"
              alt="Card image cap"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Football Field</h5>
              <p class="card-text mb-3 ">
                A football field that can be used to play more than a five
                asside football match.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/images/volleyball.jpg"
              class="img-fluid"
              alt="Card image cap"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Volleyball Court</h5>
              <p class="card-text mb-3">
                A standard Volleyball court that is filled with sharp sand and
                has a standard net accross the court.
              </p>
            </div>
          </div>
        {{/others}}
      </script>
    </section>
    <!-- //news -->
    <!---728x90--->

    <% include layout/footer.ejs%>
    <script src="/assets/js/scripts/buying.js"></script>
  </body>
</html>
