<% var data = {page: "buying_renting"}%> <% include layout/header.ejs %>

<!-- /services -->
<section class="what_you w3-about py-5">
  <div class="container py-md-4 mt-md-3">
    <h3 class="heading-agileinfo">Email <span>Confirmation</span></h3>
    <span class="w3-line black"></span>
    <input id="hiddenToken" type="hidden" value="<%= token %>" />
    <br />
    <div id="loadingProcess" class="alert alert-info" role="alert">
      Please wait, Email confirmation in progress...
    </div>

    <div id="invalidProcess" class="alert alert-danger d-none" role="alert">
      Invalid token or token expiration time exeeded, Please contact your
      adminstrator
    </div>

    <div id="successProcess" class="alert alert-success d-none" role="alert">
      You account have been activated successfully.
      <a href="/dashboard" class="btn btn-success">Go to Dashboard</a>
    </div>
  </div>
</section>
<script src="/assets/js/scripts/confirmation_page.js"></script>
<% include layout/footer.ejs%>
