<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <% var data = {page: "home"}%> <% include layout/header.ejs %>

  <body>
    <div class="inner-banner">
      <% include layout/home_navigation.ejs %>
    </div>
    <!-- courses -->
    <section class="wthree-row w3-about  py-5">
      <!---728x90--->

      <div class="container py-md-4 mt-md-3">
        <h3 class="heading-agileinfo">Our <span>Facilities</span></h3>
        <div id="facilitiesCardContainer" class="card-deck mt-md-5 pt-5"></div>

        <script id="facilitiesTemplate" type="text/template">
          {{#facilities}}
          <div class="card">
            <img
              src={{imageUrl}}
              class="img-fluid"
              alt={{title}}
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text mb-3">
                {{{decodeContent}}}
              </p>
              <div class="ab_button">
                <a
                  class="btn btn-primary btn-lg hvr-underline-from-left"
                  href="/about"
                  role="button"
                  >Read More
                </a>
              </div>
            </div>
          </div>
          {{/facilities}}
          {{^facilities}}
          <div class="card">
            <img
              src="/assets/images/basketball.jpg"
              class="img-fluid"
              alt="still waters basketball court"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Basketball Court</h5>
              <p class="card-text mb-3">
                This is a standard court surrounded by a giant net that could
                stop any ball from getting out. it is available to Resident of
                the estate.
              </p>
              <div class="ab_button">
                <a
                  class="btn btn-primary btn-lg hvr-underline-from-left"
                  href="/about"
                  role="button"
                  >Read More
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/images/estatehall.jpg"
              class="img-fluid"
              alt="estate hall image"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Estate Hall</h5>
              <p class="card-text mb-3 ">
                This is a multi-purpose hall that has good airconditioner and
                wide enough to host a reasonable number of guest.
              </p>
              <div class="ab_button">
                <a
                  class="btn btn-primary btn-lg hvr-underline-from-left"
                  href="/about"
                  role="button"
                  >Read More
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/images/swimmingpool.jpg"
              class="img-fluid"
              alt="Card image cap"
            />
            <div class="card-body w3ls-card">
              <h5 class="card-title">Swimming Pool</h5>
              <p class="card-text mb-3 ">
                The swimming pool comes in different sizes and depth ranging
                from children to adult.
              </p>
              <div class="ab_button">
                <a
                  class="btn btn-primary btn-lg hvr-underline-from-left"
                  href="/about"
                  role="button"
                  >Read More
                </a>
              </div>
            </div>
          </div>
          {{/facilities}}
        </script>
      </div>
      <!---728x90--->
    </section>
    <!-- //courses -->
    <!-- slide -->
    <section class="slide-bg py-5">
      <div class="container py-md-4 mt-md-3">
        <div class="bg-pricemain mt-md-3 pt-5">
          <h3 class="agile-title text-uppercase text-white">
            Do you want to know more?
          </h3>
          <h5 class="agile-title text-capitalize pt-4">
            Read why you should live in Still Waters Garden
          </h5>
          <p class="text-light py-4">
            The estate is located in lekki lagos state -- a peacefull
            environment which is close to the business areas of lagos. It
            provides 24hours power supply for its residents at an affordable
            rate...
          </p>
          <a
            class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll"
            href="services-2.html"
            role="button"
            >View More</a
          >
        </div>
      </div>
    </section>
    <!-- //slide -->
    <!-- Clients -->
    <div class="clients py-5">
      <!---728x90--->

      <div class="container py-md-4 mt-md-3">
        <h3 class="heading-agileinfo">Resident <span>Reviews</span></h3>
        <section class="slider mt-md-5 pt-5">
          <div class="flexslider">
            <ul id="reviewContainer" class="slides"></ul>
          </div>
          <script id="reviewTemplate" type="text/template">
            {{#reviews}}
            <li>
              <!-- removed row here -->
              <div class="clients_top row">
                <div class="col-md-3 clients_img">
                  {{#imageUrl}}
                  <img
                    src={{imageUrl}}
                    class="img-fluid"
                    alt={{title}}
                  />
                  {{/imageUrl}}
                  {{^imageUrl}}
                  <img
                  src="/assets/images/default.png"
                  class="img-fluid"
                  alt="default resident review"
                />
                  {{/imageUrl}}
                </div>
                <div class="col-md-8 client">
                 {{{decodeContent}}}
                  <h5>{{title}}</h5>
                </div>
              </div>
            </li>
            {{/reviews}}
            {{^reviews}}
            <li>
                <!-- removed row here -->
                <div class="clients_top row ">
                  <div class="col-md-3 clients_img">
                    <img
                      src="/assets/images/default.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 client">
                    <p>
                      What i like about the estate is that the power supply is
                      constant and it comes at an affordable rate
                    </p>
                    <h5>Resident</h5>
                  </div>
                </div>
              </li>
              <li>
                <div class="clients_top row">
                  <div class="col-md-3 clients_img">
                    <img
                      src="/assets/images/default.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 client">
                    <p>
                      The location of the estate is central and it makes it
                      accessible from anywhere within the state
                    </p>
                    <h5>Resident</h5>
                  </div>
                </div>
              </li>
              <li>
                <div class="clients_top row">
                  <div class="col-md-3 clients_img">
                    <img
                      src="/assets/images/default.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 client">
                    <p>
                      It is a peacefull and very seriene environment to live in
                    </p>
                    <h5>Resident</h5>
                  </div>
                </div>
              </li>
            {{/reviews}}
          </script>
        </section>
      </div>
    </div>
    <!-- //Clients -->

    <% include layout/footer.ejs %>
    <script defer src="/assets/js/jquery.flexslider.js"></script>

    <script src="/assets/js/scripts/home.js"></script>
  </body>
</html>
