<!DOCTYPE html>
<html lang="zxx">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <% var data = {page: "renovation_construction"}%> <% include layout/header.ejs %>

  <body>
    <div class="inner-banner">
      <% include layout/home_navigation.ejs %>
    </div>



        <!-- gallery -->
        <div class="agileits-services py-sm-5" id="gallery">
                <div class="container py-lg-5 pt-3 pb-5">
                    <div class="w3ls-titles text-center mb-5">
                        <h3 class="heading-agileinfo">Renovation & <span>Construction</span></h3>
                    </div>
                    <!---728x90--->

                    <div class="row text-center">
                            <div class="card mb-6" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                            <img src="/assets/images/construction1.png" class="card-img" alt="...">
                            </div>
                            <div id="renovationContainer"  class="col-md-7">
                           
                            </div>
                            <script id="renovationTemplate" type="text/template">
                                {{#renovation}}
                                <div class="card-body">
                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text">{{{decodeContent}}}.</p>
                                        <p class="card-text"><small class="text-muted">Signed by the executives</small></p>
                                    </div>
                                {{/renovation}}
                                {{^renovation}}
                                <div class="card-body">
                                        <h5 class="card-title">Renovation</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Signed by the executives</small></p>
                                    </div>
                                {{/renovation}}
                            </script>
                        </div>
                        </div>
                        <div class="card mb-6 ml-2" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                            <img src="/assets/images/construction2.png" class="card-img" alt="...">
                            </div>
                            <div id="constructionContainer" class="col-md-7">
                           
                            </div>
                            <script id="constructionTemplate" type="text/template">
                           {{#construction}}
                           <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text">{{{decodeContent}}}</p>
                                <p class="card-text"><small class="text-muted">Signed by the executives</small></p>
                            </div>
                           {{/construction}}
                           {{^construction}}
                           <div class="card-body">
                                <h5 class="card-title">Construction</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Signed by the executives</small></p>
                            </div>
                           {{/construction}}
                            </script>
                        </div>
                        </div>
                    </div>

                    <div class="w3ls_gallery_grids pt-md-5 pt-3">
                        <div id="conImageContainer" class="row agileits_w3layouts_gallery_grid">
                            
                            
                        </div>
                    
                    </div>
                    <script id="conImageTemplate" type="text/template">
                        {{#images}}
                        <div class="col-sm-4  agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                                <div class="w3_agile_gallery_effect">
                                    <a href="/assets/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                        <figure>
                                            <img src={{imageUrl}} alt={{title}} class="img-fluid" />
                                        </figure>
                                    </a>
                                </div>
                        </div>
                        {{/images}}
                        {{^images}}
                        <div class="col-sm-4  agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                                <div class="w3_agile_gallery_effect">
                                    <a href="/assets/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                        <figure>
                                            <img src="/assets/images/renovation1.jpg" alt=" " class="img-fluid" />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4  agileits_w3layouts_gallery_grid1 hover14 my-sm-0 my-4">
                                <div class="w3_agile_gallery_effect">
                                    <a href="/assets/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                        <figure>
                                            <img src="/assets/images/renovation2.jpg" alt=" " class="img-fluid" />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4  agileits_w3layouts_gallery_grid1 hover14">
                                <div class="w3_agile_gallery_effect">
                                    <a href="/assets/images/g3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                        <figure>
                                            <img src="/assets/images/renovation3.jpg" alt=" " class="img-fluid" />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        {{/images}}
                    </script>
                </div>
            </div>
        </div>
<!-- //gallery -->
<!---728x90--->
<% include layout/footer.ejs %>
<script src="/assets/js/scripts/renovation.js"></script>

</body>
</html>