	<!-- Footer -->
    <footer id="footer" class="py-5">
			<div class="container">
				<div class="row  py-lg-5">
					<div class="col-lg-3 col-sm-6 footer-logo">
						<h5>about us</h5>
						<h2>
							<a href="index.html">SWG Estate</a>
						</h2>
						<p class="mt-3">Small details about the estate here</p>
					</div>
					<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
						<h5>Quick links</h5>
						<ul class="list-unstyled quick-links">
							<li>
								<a href="/">
								<i class="fa fa-angle-double-right"></i>Home</a>
							</li>
							<li>
								<a href="/about">
									<i class="fa fa-angle-double-right"></i>About</a>
							</li>
							<li>
								<a href="/buying_renting">
									<i class="fa fa-angle-double-right"></i>Renting & Buying</a>
							</li>
							<li>
								<a href="/renovation_construction">
									<i class="fa fa-angle-double-right"></i>Renovation & Constructions</a>
							</li>
							<li>
									<button
									id="btnLogin"
									type="button"
									class="btn  ml-lg-2 w3ls-btn"
									data-toggle="modal"
									aria-pressed="false"
									data-target="#exampleModal"
								  >
									Login
								  </button>
								  <button type="button" hidden class="btn btnLogout  ml-lg-2 w3ls-btn">
									Logout
								  </button>
							</li>
						
						</ul>
					</div>
					<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
						<h5>Visiting hours</h5>
						<ul class="list-unstyled quick-links">
							<li>
								Monday - Friday
								<br>
								<span>9.00 - 20.00</span>
							</li>
							<li>
								Saturday
								<br>
								<span> 10.00 - 16.00 </span>
							</li>
							<li>
								Sunday
								<br>
								<span> 9.30 - 18.00 </span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-sm-6 footer_grid1 mt-lg-0 mt-4">
						<h5>Address</h5>
						<div class="fv3-contact">
							<span class="fas fa-envelope-open mr-2"></span>
							<p>
								<a href="mailto:info@stillwatersgarden.com">info@stillwatersgarden.com</a>
							</p>
						</div>
						<div class="fv3-contact my-2">
							<span class="fas fa-phone-volume mr-2"></span>
							<p>+234...........</p>
						</div>
						<div class="fv3-contact">
							<span class="fas fa-home mr-2"></span>
							<p>Still Waters Garden Estate.
								<br>Lekki lagos state.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="cpy-right text-center py-4">
			<p class="text-white">© <%= new Date().getFullYear();%> Still Waters Garden Estate. All rights reserved | Design by
				<a href="#"> Rapidbit</a>
			</p>
		</div>
	</div>
    <!-- /Footer -->
    
   
     
    
      
     
       
       
        <!-- start-smooth-scrolling -->
        <script src="/assets/js/move-top.js"></script>
        <script src="/assets/js/easing.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
    
                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 1000);
                });
            });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script>
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                };
                */
    
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });
    
            });
        </script>
        <script src="/assets/js/SmoothScroll.min.js"></script>
        <!-- //smooth-scrolling-of-move-up -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/assets/js/bootstrap.js"></script>
   