<head>
  <title>Still Waters Garden Estate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <meta
    name="keywords"
    content="Still Waters Garden Estate information management system, available to the resident of the estate and the general public"
  />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <script src="/assets/vendor/jwt-decode/jwt-decode.min.js"></script>

  <%if(data.type !== "backend"){%>
  <script>
    addEventListener(
      "load",
      function() {
        setTimeout(hideURLbar, 0);
      },
      false
    );

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- Custom Theme files -->
  <link
    href="/assets/css/bootstrap.css"
    type="text/css"
    rel="stylesheet"
    media="all"
  />
  <link
    href="/assets/css/style.css"
    type="text/css"
    rel="stylesheet"
    media="all"
  />
  <!-- font-awesome icons -->
  <link href="/assets/css/fontawesome-all.min.css" rel="stylesheet" />
  <!-- //Custom Theme files -->
  <link
    rel="stylesheet"
    href="/assets/css/flexslider.css"
    type="text/css"
    media="screen"
    property=""
  />
  <!-- online-fonts -->
  <link
    href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900"
    rel="stylesheet"
  />
  <!-- //online-fonts -->
  <%}%>
  <!--Dashbord links.-->
  <!-- Latest compiled and minified CSS -->
  <%if(data.type === "backend"){%>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="/assets/vendor/bootstrap-editor/bootstrap3-wysihtml5.min.css"
  />
  <!-- Font awesome cdn -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/assets/css/admin.css" />

  <title>Still waters garden dashboard</title>
</head>

<%}%> <% if(data.type !== "backend"){ %>
<!-- banner -->
<!-- <% if(data.page !== "home"){%>
    <div class="inner-banner">
      <%}else {%>
      <div class="banner">
        <%}%>

        -->

<!-- login Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <div
            id="errorGlobal"
            class="alert alert-danger d-none"
            role="alert"
          ></div>
          <div class="form-group">
            danger
            <label for="recipient-name" class="col-form-label">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder=" "
              name="email"
              id="email"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder=" "
              name="password"
              id="password"
              required=""
            />
          </div>

          <div class="right-w3l">
            <input type="submit" class="form-control" value="Login" />
          </div>

          <div class="row sub-w3l my-3">
            <!-- <div class="col sub-agile">
                    <p class="alert">username or password not correct</p>
                  </div> -->

            <div class="col forgot-w3l text-right">
              <a
                href="#"
                data-toggle="modal"
                data-target="#exampleModalCenter2"
                class="text-secondary"
              >
                Forgot Password?</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%}else{%>
<!-- //login Modal-->

<!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> Still Waters garden</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" class="btnLogout"
                ><span class="glyphicon glyphicon-log-in"></span> Logout</a
              >
            </li>
          </ul>
        </div>
      </nav> -->

<script>
  var decoded = jwt_decode(window.localStorage.stillwatersJWT);
  if (decoded.role !== "admin") {
    window.location.href = "/";
  }
</script>
<%}%>
<script src="/assets/vendor/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/assets/vendor/mustache/mustache.min.js"></script>
<script src="/assets/js/scripts/common/initialized-data.js"></script>
<script src="/assets/js/scripts/auth.js"></script>
<script src="/assets/js/scripts/login.js"></script>
