<!-- header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
    <h1>
      <a class="navbar-brand text-white" href="/">
        <img
          id="logo"
          src="/assets/images/logo/logo.png"
          alt="Still waters Logo"
        />
      </a>
    </h1>
    <button
      class="navbar-toggler ml-md-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto text-center">
        <li
          class="nav-item <% if(data.page === 'home'){%> active <%}%>   mr-3 mt-lg-0 mt-3"
        >
          <a class="nav-link" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- <li id="liResident" hidden class="nav-item dropdown mr-3 mt-lg-0 mt-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Resident
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Estate Information</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Files & Documents</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Requisitions</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Finance</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Write a Review</a>
          </div>
        </li> -->
        <li
          class="nav-item <% if(data.page === 'about'){%> active <%}%>  mr-3 mt-lg-0 mt-3"
        >
          <a class="nav-link" href="/about">About</a>
        </li>
        <li
          class="nav-item <% if(data.page === 'buying_renting'){%> active <%}%>  mr-3 mt-lg-0 mt-3"
        >
          <a class="nav-link" href="/buying_renting">Buying & Renting Houses</a>
        </li>
        <li
          class="nav-item <% if(data.page === 'renovation_construction'){%> active <%}%> "
        >
          <a class="nav-link" href="/renovation_construction"
            >Renovation & Construction</a
          >
        </li>
        <!-- <li>
          <button
            id="btnLogin"
            type="button"
            class="btn  ml-lg-2 w3ls-btn"
            data-toggle="modal"
            aria-pressed="false"
            data-target="#exampleModal"
          >
            Login
          </button>
          
        </li> -->
      </ul>
    </div>
  </nav>
</header>
<!-- //header -->

<% if(data.page === "home"){%>

<div class="container ">
  <!-- banner-text -->
  <div class="banner-text row">
    <div class="faded-slides col-md-8 d-none d-md-block">
      <ul id="sliderList" class="slides">
        <!-- <li>
          <img
            class="rounded-circle img-fluid "
            src="/assets/images/slides/1.jpg"
            alt="pack"
          />
        </li>
        <li>
          <img
            class="rounded-circle img-fluid"
            src="/assets/images/slides/2.jpg"
            alt="store"
          />
        </li>
        <li>
          <img
            class="rounded-circle img-fluid"
            src="/assets/images/slides/3.jpg"
            alt="gate"
          />
        </li> -->
      </ul>
    </div>
    <script id="sliderTemplate" type="text/template">
      {{#slides}}
      <li>
          <img
            class="rounded-circle img-fluid "
            src={{imageUrl}}
            alt={{title}}
          />
        </li>
        {{/slides}}
        {{^slides}}
        <li>
            <img
              class="rounded-circle img-fluid "
              src="/assets/images/slides/1.jpg"
              alt="pack"
            />
          </li>
          <li>
            <img
              class="rounded-circle img-fluid"
              src="/assets/images/slides/4.jpg"
              alt="store"
            />
          </li>
          <li>
            <img
              class="rounded-circle img-fluid"
              src="/assets/images/slides/3.jpg"
              alt="gate"
            />
          </li>
          <li>
            <img
              class="rounded-circle img-fluid"
              src="/assets/images/slides/2.jpg"
              alt="gate"
            />
          </li>
        {{/slides}}
    </script>
    <div class="slider-info col-md-4">
      <h3>Live in a Home that Suits Your Lifestyle</h3>
      <a
        class="btn btn-primary mt-lg-3 mt-3 agile-link-bnr"
        href="/about"
        role="button"
        >View More</a
      >
    </div>
    <div class="faded-slides col-md-8  d-md-none d-lg-none d-xl-none ">
      <ul class="slides">
        <li>
          <img
            class="rounded-circle img-fluid "
            src="/assets/images/slides/1.jpg"
          />
        </li>
        <li>
          <img
            class="rounded-circle img-fluid"
            src="/assets/images/slides/2.jpg"
          />
        </li>
        <li>
          <img
            class="rounded-circle img-fluid"
            src="/assets/images/slides/3.jpg"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
<%}%>
